.navbar-brand a:nth-child(1) {
  color: #ffffff;
  font-family: sans-serif !important;
  font-weight: bold !important;
  display: inline-block;
}

.navbar-brand a:nth-child(2) {
  background: #FF9900;
  color: #000000 !important;
  border-radius: 1vw;
  padding: 0 0.3vw 0.2vw 0.3vw;
  display: inline-block;
}

.edit-btn{
  position: absolute;
  top: 0;
  right: 0;
}

.edit-btn a {
  margin: 20px;
}

.fight-card-width{
  width: 100%;
}

