{% extends "layout.html" %}
{% block content %}
<h1 class="text-center my-3">Add a new referee</h1>
<form method="POST" action="{{ url_for('add_referee') }}">
  {{ form.hidden_tag() }}
  <div class="form-group row">
    <div class="col-sm-4">
      <label for="firstname">First Name</label>
      {{ form.firstname(class='form-control') }}
    </div>
    <div class="col-sm-4">
      <label for="lastname">Last Name</label>
      {{ form.lastname(class='form-control') }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}