{% extends "layout.html" %}

{% block content %}
  <h1>Events</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Promotion</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td><a href="{{ url_for('events_route') }}/{{ event.id }}">{{ event.name }}</a></td>
          <td>{{ event.date }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.promotion }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
