{% extends "layout.html" %}

{% block content %}

<h1 class="text-center my-3">Fights</h1>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <form method="POST" action="{{ url_for('fights_route') }}" class="form-inline my-3 text-center">
      {{ form.csrf_token }}
      <div class="form-group mx-auto">
        <label for="From" class="sr-only">From:</label>
        {{ form.start_date(class='form-control') }}
      </div>
      <div class="form-group mx-auto">
        <label for="To" class="sr-only">To:</label>
        {{ form.end_date(class='form-control') }}
      </div>
      <button class="btn btn-primary mx-auto" type="submit">Search</button>
    </form>
  </div>
  <div class="col-3"></div>
</div>
<div class="text-center">Search fights between dates</div>
{% if not form.data.start_date or not form.data.end_date %}
<h3>Most recent fights in the database:</h3>
{% endif %}
<table class="table table-striped my-3">
  <thead>
    <tr>
      <th scope="col">Fight</th>
      <th scope="col">Event</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for fight in fights %}
    <tr>
      <td>
        <a href="{{ url_for('fight_detail', fight_id = fight.id) }}">
          {% if fight.fighter1 == fight.winner %}
          {{ fight.f1_firstname }} {{ fight.f1_lastname }}
          {% else %}
          {{ fight.f2_firstname }} {{ fight.f2_lastname }}
          {% endif %}
          {% if fight.draw %}
          -
          {% else %}
          def
          {% endif %}
          {% if fight.fighter1 == fight.winner %}
          {{ fight.f2_firstname }} {{ fight.f2_lastname }}
          {% else %}
          {{ fight.f1_firstname }} {{ fight.f1_lastname }}
          {% endif %}
        </a>
      </td>
      <td>
        {% if fight.event != None %}
        <a href="{{ url_for('event_detail', event_id=fight.event) }}">{{ fight.event_name }}</a>
        {% else %}
        N/A
        {% endif %}
      </td>
      <td>{{ fight.date }}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}