{% extends "layout.html" %}

{% block content %}

<h1 class="text-center my-3">Referees</h1>

<table class="table table-striped my-3">
  <thead>
    <tr>
      <th scope="col">Referee name</th>
    </tr>
  </thead>
  <tbody>
    {% for referee in referees %}
    <tr>
      <td>
        <a href="{{ url_for('referee_profile', referee_id = referee.id) }}">
            {{ referee.firstname }} {{ referee.lastname }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}